* {
  margin: 0;
  font-family: "Pretendard";
  font-weight: 400;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Mobile size */
@media (max-width: 767px) {
  header {
    padding: 18px 32px;
  }
  nav {
    width: 100%;
  }
  .user-email {
    display: none;
  }
  main,
  .cards {
    width: 325px;
    margin: 20px 32px 60px;
  }
}

/* Tablet size */
@media (min-width: 768px) and (max-width: 1199px) {
  header {
    padding: 32px;
  }
  nav {
    width: 800px;
  }
  @media (max-width: 1124px) {
    .cards {
      width: 704px;
    }

    main {
      width: 704px;
      margin: 40px 32px 100px;
    }
  }
}
