.cards {
  display: flex;
  justify-content: center;

  align-items: center;
  flex-wrap: wrap;
  width: 1060px;
  row-gap: 25px;
  column-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 340px;
  box-sizing: border-box;
}

.link-img-box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 253.746px;
  flex-shrink: 0;
}

.link-img {
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  gap: 10px;
  background-color: #fff;
}
