.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1060px;
  row-gap: 25px;
  column-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 340px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.card:hover .detail-box {
  background-color: #f0f6ff;
}

.link-img-box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-shrink: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.link-img {
  max-width: 115%;
  transition: width 0.3s ease;
}

.card:hover .link-img {
  max-width: none;
  width: 130%;
}

.detail-box {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  gap: 10px;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.description {
  margin: 0;
  font-size: 16px;
  max-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.elapsed-time {
  color: #666;
  font-size: 13px;
}

.formatted-data {
  color: #333;
  font-size: 14px;
}
