.cards {
  display: flex;
  justify-content: center;

  align-items: center;
  flex-wrap: wrap;
  width: 1060px;
  row-gap: 25px;
  column-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 340px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}

.link-img-box {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 253.746px;
  flex-shrink: 0;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.link-img {
  max-width: 150%;
  object-fit: cover;
  object-position: center;
}

.detail-box {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  gap: 10px;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.description {
  margin: 0;
  font-size: 16px;
  max-height: 40px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
