* {
  margin: 0;
  font-family: "Pretendard";
  font-weight: 400;
}

/* Mobile size */
@media (max-width: 767px) {
  header {
    padding: 18px 32px;
  }
  nav {
    width: 100%;
  }
  .user-email {
    display: none;
  }
}

/* Tablet size */
@media (min-width: 768px) and (max-width: 1199px) {
  header {
    padding: 32px;
  }
  nav {
    width: 800px;
  }
}
