.folder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 60px;
  width: 100%;
  background-color: #f0f6ff;
}

.folder-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.profile-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.folder-name {
  font-size: 40px;
  font-weight: 600;
}

.user-image {
  width: 60px;
  height: 60px;
}
