.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1060px;
  row-gap: 25px;
  column-gap: 20px;
}

.no_link {
  width: 100%;
  margin-top: 41px;
  margin-bottom: 35px;
  text-align: center;
  font-size: 16px;
  grid-column: span 3;
}

@media (max-width: 1124px) {
  .wrapper {
    width: 704px;
    grid-template-columns: 1fr 1fr;
  }

  .no_link {
    grid-column: span 2;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 325px;
    grid-template-columns: 1fr;
    margin: 20px 32px 60px;
  }

  .no_link {
    grid-column: span 1;
  }
}
