header {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 9.4rem;
  background-color: var(--gray-5);
}

nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 192rem;
  height: 9.4rem;
  padding: 0 20rem;
  background-color: var(--gray-5);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16.4rem;
  margin-bottom: 7rem;
  background-color: var(--gray-5);
  gap: 4rem;
}

.title {
  color: black;
  font-size: 6.4rem;
  font-weight: 700;
  text-align: center;
  word-break: keep-all;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.4rem;
  cursor: pointer;
  background-image: linear-gradient(135deg, var(--primary) 0%, #6ae3fe 100%);
  border-radius: 0.8rem;
  color: var(--grey-light);
  font-size: 1.8rem;
  font-weight: 600;
}

.cta-short {
  width: 12.8rem;
}

.cta-long {
  width: 35rem;
}

.background-clip-text {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
}

.main--text {
  background-image: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
}

.content-1 {
  background-image: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
}

.content-2 {
  background-image: linear-gradient(277deg, #6fbaff 0%, #ffd88b 100%);
}

.content-3 {
  background-image: linear-gradient(
    99deg,
    #6d7ccd 0%,
    rgba(82, 136, 133, 0.22) 130%
  );
}

.content-4 {
  background-image: linear-gradient(
    90deg,
    rgba(104, 232, 249, 1) 0%,
    rgba(158, 180, 211, 1) 88%
  );
}

.main--img {
  width: 120rem;
  height: 59rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.container {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 11.6rem 8.2rem 1fr;
}

section:nth-child(odd) .container {
  grid-template-columns: 55rem 15.7rem 29.1rem;
  grid-template-areas:
    "img . ."
    "img . slogan"
    "img . small"
    "img . .";
}

section:nth-child(even) .container {
  grid-template-columns: 29.1rem 15.7rem 55rem;
  grid-template-areas:
    ". . img"
    "slogan . img"
    "small . img"
    ". . img";
}

.section--img {
  grid-area: img;
  width: 55rem;
  height: 45rem;
  border-radius: 1.5rem;
}

.slogan {
  grid-area: slogan;
  color: black;
  font-weight: 700;
  font-size: 4.8rem;
  word-break: keep-all;
}

.small {
  align-self: start;
  grid-area: small;
  color: #6b6b6b;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  padding-top: 1rem;
  word-break: keep-all;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 16rem;
  margin-top: 12rem;
  background-color: var(--black);
}

.footer-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "copyright link sns";
  width: 100%;
  padding: 3.2rem 10.4rem 6.4rem;
  max-width: 192rem;
}

.copyright {
  grid-area: copyright;
  color: #676767;
  font-family: Arial;
  font-size: 1.6rem;
  align-self: start;
}

.footer--link {
  grid-area: link;
  display: flex;
  justify-content: center;
  gap: 3rem;
  color: #cfcfcf;
  font-family: Arial;
  font-size: 1.6rem;
  align-self: start;
}

.footer--sns {
  grid-area: sns;
  display: flex;
  justify-content: end;
  height: 2rem;
  gap: 1.2rem;
  align-self: start;
}

/* Tablet size ( 768px 이상 ~ 1199px 이하 ) */

@media (max-width: 1199px) {
  nav {
    width: 1200px;
    padding: 0 200px;
  }

  .title {
    width: 472px;
  }

  main {
    margin-bottom: 30px;
  }

  .main--img {
    width: 698px;
    height: 343px;
  }

  .container {
    height: 315px;
  }

  section:nth-child(odd) .container {
    grid-template-columns: 385px 51px 262px;
  }

  section:nth-child(even) .container {
    grid-template-columns: 262px 51px 385px;
  }

  .section--img {
    width: 385px;
    height: 315px;
  }
}

@media (max-width: 864px) {
  nav {
    width: 100%;
    padding: 0 32px;
  }
}
