/* user agent stylesheet 초기화 */
:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --gray-1: #3e3e43;
  --gray-2: #9fa6b2;
  --gray-3: #ccd5e3;
  --gray-4: #e7effb;
  --gray-5: #f0f6ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Pretendard";
}

/* html 기본 폰트 크기 16px의 62.5%인 10px로 설정 */
html,
body {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}
