body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-5);
}

main {
  display: flex;
  flex-direction: column;
  padding: 238px 0 116px;
  align-items: center;
  gap: 32px;
}

main > div {
  width: 400px;
}

.email-login {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

header {
  width: 100%;
  display: grid;
  gap: 16px;
  justify-content: center;
  font-size: 16px;
}

header img {
  height: 38px;
}

header p {
  text-align: center;
}

header a {
  font-weight: 600;
  color: var(--primary);
  text-decoration: underline;
}

form,
form label,
form input,
form button {
  width: 100%;
}

form label {
  font-size: 14px;
  margin-bottom: 12px;
  display: block;
}

form label ~ label {
  margin-top: 24px;
}

form input {
  display: flex;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--gray-3);
  font-size: 16px;
}

form > div {
  position: relative;
}

form img {
  position: absolute;
  top: 22px;
  right: 15px;
}

input:focus {
  outline: none;
  border: 1px solid var(--primary);
}

form > button {
  display: flex;
  padding: 16px 20px;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  background: linear-gradient(91deg, var(--primary) 0.12%, #6ae3fe 101.84%);
}

.social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--gray-3);
  background: var(--gray-4);
}

.social-login > span {
  font-size: 14px;
}

.social-login > div {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.social-login > img {
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1199px) {
  main {
    padding-top: 200px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  main {
    width: 100%;
    padding: 120px 32px 233px 33px;
  }

  .email-login,
  .social-login {
    width: 100%;
    max-width: 400px;
  }
}
