.header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
  padding: 16px 200px;

  /* Mobile size */
  @media (max-width: 767px) {
    padding: 12px 32px;
  }

  /* Tablet size */
  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 12px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: 767px) {
    width: 100%;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 800px;
  }
}

.logo {
  display: flex;
  align-items: center;
}
